<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Photo Gallery</title>
</head>
<body>
    <h1>Flask Photo Gallery</h1>
    <p>Here you can see all of your photos!</p>
    {% for photo in photos %}
        <div class="photos">
            <img width=100px src="{{photo}}">
        </div>
    {% endfor %}

    <a href="/">Home Page</href>
    
</body>
</html>